<h3 class="fw-bold text-center mt-5 mb-4">{{"paiement de facture" | uppercase}}</h3>
<div class="container shadow-lg py-5 px-4 px-sm-5 mb-5 rounded-4">
    <h4 class="fw-bold">Detail de paiement</h4>
    <hr class="border border-1 opacity-25 border-dark">
    <div class="d-flex flex-wrap px-3 pb-4 column-gap-5 row-gap-3 details">
        <div class="pe-1">
            <img src="https://picsum.photos/60">
        </div>
        <div class="">
            <p class="fs-5 fw-bold mb-1">Créancier</p>
            <p class="fs-6 fw-bold m-0 data-color">Maroc Telecom</p>
        </div>
        <div class="">
            <p class="fs-5 fw-bold mb-1">Créance</p>
            <p class="fs-6 fw-bold m-0 data-color">Recharge Voix</p>
        </div>
        <div class="">
            <p class="fs-5 fw-bold mb-1">Débiteur</p>
            <p class="fs-6 fw-bold m-0 data-color">Hamdani Mohamed</p>
        </div>
        <div class="">
            <p class="fs-5 fw-bold mb-1">Date de Créance</p>
            <p class="fs-6 fw-bold m-0 data-color">{{ date |date:"dd/MM/yyyy"}}</p>
        </div>
    </div>
    <h4 class="fw-bold">Recapulatif des informations saisies</h4>
    <hr class="border border-1 opacity-25 border-dark diverder">
    <div class="table-responsive">
        <table class="table table-hover text-center impaye px-sm-4 rounded-4">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Description</th>
                    <th>Prix TTC</th>
                </tr>
            </thead>
            <tbody class="">
                <tr *ngFor="let impaye of impayeList">
                    <td class="fw-semibold">{{impaye.reference}}</td>
                    <td class="fw-semibold">{{impaye.description}}</td>
                    <td class="fw-semibold">{{impaye.value}} DH</td>
                </tr>
            </tbody>
            <tfoot class="">
                <tr>
                    <th></th>
                    <th class="text-center">Total:</th>
                    <th>100 DH</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="d-flex justify-content-sm-end justify-content-center gap-2 pt-5">
        <a class="btn btn-outline-secondary " role="button" type="button">Abondonner la transaction</a>
        <a class="btn btn-warning fw-semibold border border-dark border-1" role="button" type="button">Confirmer et Signer</a>
    </div>

    
</div>