<div class="text-center vh-100 d-flex align-items-center justify-content-center flex-column">

    <main class="form-signin p-5">
        
        <form #f="ngForm">
        <!-- <img class="mb-4" src="https://picsum.photos/60" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-5 fw-bold">{{"Please change your password"| uppercase}}</h1>
    
        
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" [(ngModel)]="form.password" #password="ngModel">
          <label for="floatingPassword">Password</label>
        </div>
    
        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <button (click)="changePassword()" class="w-100 btn btn-lg btn-primary" type="button">Change</button>
        <button (click)="logout()" class="w-100 btn btn-lg mt-2 btn-secondary" type="button">Log out</button>
        <!-- <p class="mt-5 mb-3 text-muted">© 2017–2022</p> -->
      </form>
  </main>

</div>