<h3 class="fw-bold text-center mt-5 mb-5">{{"Choisir votre créancier" | uppercase}}</h3>

<!-- <div class="formulaire d-flex align-items-center  flex-column  mt-5 "> -->
  <!-- card  -->
  <div class="creanciers-card my-3 rounded-4 shadow-lg p-sm-5 p-4 mx-sm-5 mx-2" >
      <!-- <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/liste-creanciers">
              Paiement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/liste-creanciers">
              Operations
            </a>
          </li>
        </ul> -->
        <h5 class="fw-semibold mt-3 ms-3">Liste des créanciers</h5>
        <!-- <div class="creanciers-card-body "> -->
            <!-- <span class="d-inline-block border p-2 span-creanciers">Liste des créanciers</span> -->
            <!-- <div class="select-category p-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categories</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div> -->
            <!-- Gallery -->
            <!-- <div class="row p-2 photo-gallery mt-4" style="max-height: 250px; overflow-y: auto;"> -->
            <div class="d-flex flex-wrap gap-4 p-sm-5 p-3 creanciers-card-body" style="max-height: 25rem; overflow-y: scroll;">
              <img *ngFor="let creancier of listCreancier" src="{{ creancier.logoUrl }}" (click)="redirectToCreances(creancier.id)" class="image-info border shadow-1-strong rounded" alt="logo image of {{ creancier.name }}" />
            </div>

            <!-- <div class="row p-2 photo-gallery mt-4" > -->
                <!-- <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let image of images"> -->
                  <!-- <div class="image-info"> -->
                    <!-- <img src="{{ image.url }}" class="w-50  image-info shadow-1-strong rounded mb-4" alt="{{ image.title }}" /> -->
                    <!-- <a href="{{ image.url }}" data-toggle="lightbox" data-gallery="example-gallery" data-title="{{ image.title }}">
                    </a> -->
                  <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
              
            
        <!-- </div> -->

        <button class="btn btn-outline-secondary mt-4 text-center" (click)="back()">Retour</button>
    </div>
<!-- </div> -->

