.px-5{
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}
.column-gap-0{
    column-gap: 0;
}
.column-gap-5{
    column-gap: calc(1rem * 3);
}
.row-gap-1{
    row-gap:calc(1rem * .25);
}
.row-gap-3{
    row-gap: calc(1rem * 1);
}
.row-gap-4{
    row-gap: calc(1rem * 1.5);
}

.data-color{
    color:#858585;
}
.impaye-container{
    max-height: 25vh;
    overflow: auto;
}
.impaye{
    background-color: #EBEBEB;
}

@media (max-width : 576px){
    .details{
        justify-content:center;
        text-align: center;
    }
    .total{
        justify-content: center !important;
        text-align: center;
    }
}