<nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-outline-primary me-2" routerLinkActive="active" routerLink="/home">ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary me-2" [ngClass]="{'active':listeCreances.isActive }" routerLinkActive="active" routerLink="/liste-creanciers">PAIEMENT</a>
          <a class="btn btn-outline-primary me-2" style="display: none;" #listeCreances="routerLinkActive" routerLinkActive="active" routerLink="/liste-creances">PAIEMENT</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="btn btn-outline-danger">Deconnecte</a>
        </li>

      </ul>
    </div>
  </div>
</nav>