<div class="d-flex align-items-center flex-column mt-5">
    <ul class="nav nav-pills flex-row gap-1 nav-justified">
        <li class="nav-item">
          <a class="nav-link border" routerLinkActive="active" routerLink="/home">ACCUEIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border" routerLinkActive="active" routerLink="/liste-creanciers">OPERATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link border" routerLinkActive="" routerLink="/liste-creanciers">PAIEMENT</a>
        </li>
    </ul>

</div>
<!-- <router-outlet></router-outlet> -->
<!-- <app-liste-creanciers></app-liste-creanciers> -->